.active{
    background-color: white !important;
    color: black !important;
    text-decoration: underline !important;
    text-decoration-color: violet !important;
}



#contactUsBanner{
    filter: brightness(60%);
}
#ServiceDetailsBanner{
    filter: brightness(60%);
}
#HomeSlider{
    filter: brightness(60%);
}


